<main>
    <h2>Set a Product</h2>
    <form action="/products/set" method="post">
        <fieldset>
            <p>Leave the Id blank to input a new product or specify it to modify an existing one.</p>
            <label>Id:
                <input type="text" name="id" maxlength="50">
            </label>
            <label>Title:
                <input type="text" name="title" maxlength="50" required>
            </label>
            <label>Price:
                <input type="number" name="price" max="9999999999" required>
            </label>
            <label>Thumbnail:
                <input type="url" name="thumbnail" required>
            </label>
        </fieldset>
        <button type="submit">Set</button>
    </form>

    <h2>Delete a Product</h2>
    <form action="/products/del" method="post">
        <fieldset>
            <label>ID:
                <input type="text" name="id" maxlength="50" required>
            </label>
        </fieldset>
        <button type="submit">Delete</button>
    </form>

    <form action="/products/save" method="post">
        <button type="submit">Guardar Archivo</button>
    </form>
    <form action="/products/reset" method="post">
        <button type="submit">Elimiar Lista</button>
    </form>
</main>
